/* You can add global styles to this file, and also import other style files */
.main-content{
    .container-fluid {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}